@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
                                        /*body*/
body{
    background-color: #06767D;
    color: #000;
}

                                    /*       NAVBAR       */
/* Default font color */
.navbar-brand{
    color: #1CBFB6;   
}
.navbar .nav-link{
    color: #1CBFB6;   
}
/* Font color on hover */
.navbar .nav-link:hover{
    color: #1a3edb;
}

                                    /*       HOME       */
/*COL1 IMAGE*/
.img-fluid{
    margin-top: 0;
    width: 25vw;
    border-radius: 50%;
    box-shadow: 3px 6px 8px 0 rgba(67, 252, 255, 0.959), 0 6px 20px 0 rgba(179, 20, 20, 0.19);

}

/*TEXT*/
.col-lg-6{
    margin-top: 4%;
    color: #fff;
 }
 span{
     color: #1cded4;
     font-size: 40px;
 }

                                    /*       ABOUT       */
#about .col-lg-6{
    color: #000;
    margin-top: 1px;
}
#about .img-fluid1{
    height: 55vh;
    width: 40vw;
    border-color: #000;
}

                                    /*       SKILLS       */
#skills .container{
    margin-top: 20px;
    margin-bottom: auto;
}
#skills .row{
    display: flex;
    flex-wrap: wrap;
}
#skills img{
    height: auto;
    max-width: 70px;
    margin-bottom: 2px;
}
#skills span{
    color: #fff;
    font-size: 20px;
}

                                    /*       PROJECTS       */
#projects .container{
    margin-top: 20px;
    margin-bottom: auto;
}
#projects .project{
    margin-top: auto;
    color: #000;
}

                                    /*       CONTACT       */
#contact{
     /* background-color: #f8f9fa; Add background color to the contact section */
    padding: 10px 0; /* Add padding to create space between content and edges */
}
#contact .container{
    margin-top: 10px;
}
.form-group input[type="text"], .form-group input[type="email"], .form-group textarea {
    border: 1px solid #000000; /* Add border to input fields */
    border-radius: 10px; /* Add border radius for rounded corners */
    background-color: transparent; /* Add background color to input fields */
    padding: 10px; /* Add padding inside input fields */
    width: 100%; /* Make input fields expand to fill container */
    margin-bottom: 15px; /* Add margin between input fields */
}
.form-group input[type="text"]::placeholder,
.form-group input[type="email"]::placeholder,
.form-group textarea::placeholder {
    color: #ffffff; /* Change the placeholder text color */
    font-size: 20px; /* Change the placeholder text size */
}


                                    /*      FOOTER         */
footer {
  background-color: #0A565E;
  display: flex; /* Use flexbox to arrange items */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  
}
.list-inline-item {
    margin: 0 80px; /* Add margin to each list item */
  }

.list-inline-item a i {
    color: black; /* Set the default icon color */
    font-size: 40px;
    text-decoration: none; /* Remove underline */
}

.list-inline-item a:hover i {
  color: #1CBFB6; /* Change the icon color on hover */
}
/* Tooltips */
.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 80px;
    left: 42%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 18px;
    transform: translateX(5%); /* Center tooltip horizontally */
    transition: opacity 0.3s;
}
/* Show the tooltip text when hovering over the icon */
.list-inline-item a:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
