*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #0B373D;
    color: #fff;
}

#header{
    width: 100%;/*try auto*/
    height: 100vh;/*this too*/
    background-image: url(images/Desktop.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container{
    padding: 10px 10%;

}

nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    margin-top: 10%;
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(67, 252, 255, 0.959), 0 6px 20px 0 rgba(179, 20, 20, 0.19);

}
@keyframes floatImage{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(7rem);
    }
    100%{
        transform: translateX(0);
    }
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.header-text{
    text-align: justify;
    font-size: 100%;
    margin-top: 1%;
}

span{
    color:#5fe729;
    font-size: 50px;
}

#about{
    padding: 80px 0;
}